<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Searching Page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{url_for('static', filename='webapp.js') }}" ></script>

</head>

<body>
	<h1 class = "title">US Police Shootings Monitor</h1>
    <h3 class = 'text-container'>Introduction</h3>

    <!--  -->
    <!-- navigation bar*/ -->
    <label> Choose Mode: </label>
    <ul class = 'horizontal-navbar'>
    <li><a href = '/'>Home</a></li>
    <li><a href = 'page_search.html'>Search</a></li>
    <li><a href = 'page_map.html'>Map</a></li>
    </ul>
</body>
</html>
