<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Map Navigating Page by Yiwen Luo and Ruofei Li</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>

    <body>
        <h1 class = "title">US Police Shootings Monitor</h1>

       <h3 class = 'text-container'>Introduction</h3>      
        <!--  -->
	<!-- navigation bar*/ -->
	<p>Choose Mode:</p>
        <ul class = 'horizontal-navbar'>
            <li><a href = 'page_search.html'>Search</a></li>
            <li><a>Map</a></li>
        </ul>

	<label> State: XX </label>
        <table>
	<tr><th>Summary 1</th><th>Summary 2</th><th>Summary 3</th><th>...</th></tr>
	<tr><th>...</th><th>...</th><th>...</th><th>...</th></tr>
	</table>
       
	<div>
		<h3 class='subtitle'> Click on the map: </h3>
		<img clas = 'map' src = 'images/usmap.png'>
	</div>

	<table>
	<tr><th>Date</th><th>City</th><th>...</th></tr>
	<tr><th>...</th><th>...</th><th>...</th></tr>
	</table>

    </body>
</html>
<!-- partial -->
  
</body>
</html>
