<!DOCTYPE html>
<html lang="en">
<head>
    <title>Case Searching Page</title>
    <!-- These are required for the DataMaps library to work -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>

    <!-- You need this one for the US map -->
    <script src="{{url_for('static', filename = 'datamaps.usa.min.js')}}"></script>

    <!-- Here's stuff I wrote for my sample -->    
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{url_for('static', filename='webapp_map.js') }}" ></script>

</head>

<body>
	<h1 class = "title">US Police Shootings Monitor</h1>
    <h3 class = 'text-container'>Introduction</h3>

    <!--  -->
    <!-- navigation bar*/ -->
    <label> Choose Mode: </label>
    <ul class = 'horizontal-navbar'>
    <li><a href = '/'>Home</a></li>
    <li><a href = 'page_search.html'>Search</a></li>
    <li><a href = 'page_map.html'>Map</a></li>
    </ul>
    
    
    
<!--    <div id="state-summary"></div>-->
    
    <div id="state-summary"></div>

    <h3 class="subtitle">Summary Cases</h3>
    
    <table id = 'summary_table'></table>
    
    <h3 class="subtitle">United States Map</h3>

    <div id="map-container"></div>
    
   

    
</body>
    
</html>