/*

 * webapp.css
 * Yiwen Luo 
 * Used map styles from Jeff's samples 
 * 11 November 2020
 *
 
*/

/*
=======================================
title
=======================================
*/
.banner{
    height: 125px;
    width: 100%;
    position: relative;
    color:#656A64;
    background-color:#BCD3E7;
    margin: 0;
}

.banner-home{
    height: 300px;
}
.navbar-banner{
    height:50px;
    width:100%;
    position: relative;
    color:#656A64;
    background-color:#6B8EB7;
    margin: 0;
}

/* 
=======================================
navigation bar index page
=======================================
 */
.horizontal-navbar-index-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-content: center;
}



ul.horizontal-navbar-index {
    list-style-type: none;
    margin-top: 0px;
    position:relative;
    overflow: hidden;
    background-color: #6B8EB7;
    padding: 0px;
    width: 100%;
    font: bold 40px Arial;
    height: 500px;
    background-image: url('background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
}



ul.horizontal-navbar-index li {
    float: left;
    width: 50%;
}

ul.horizontal-navbar-index li a {
    display: block;
    color: black;
    text-align: center;
    padding: 250px 250px;
    text-decoration: none;
}

ul.horizontal-navbar-index li a:hover {
    background-color: #555;
    color: white;
}

/* 
=======================================
navigation bar
=======================================
 */
ul.horizontal-navbar {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom:50px;
    position:relative;
    overflow: hidden;
    background-color: #6B8EB7;
    padding: 5px;
    width: 99.5%;
    font: bold 20px Arial;
}

ul.horizontal-navbar li {
    float: left;
    width: 33%;
}

ul.horizontal-navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal-navbar li a:hover {
    background-color: #555;
    color: white;
}

/*
=======================================
title
=======================================
*/

.title{
	font: bold 72px Arial, Helvetica, sans-serif;
	padding:30px;
	width: 80%;
}
.title-home{
    font: bold 100px Arial, Helvetica, sans-serif;
	padding:30px;
	width: 80%;: 
}
.subtitle{
    font: bold 30px Arial, Helvetica, sans-serif;
	margin: 15px;
    position: relative;
    color:#656A64;
	width: 100%;
}

/*
=======================================
dropdown menu
=======================================
*/
.dropdown{
    width:100%;
}
.select{
    width: 100%;
    grid-template-areas: "select";
    align-items: center;
}

/*
=======================================
graphs
=======================================
*/
.pie{
    width: 20%;
}

.line{
	width: 20%;
}
.map{
	width: 50%;
}

.container {
  background: rgba(215, 215, 215, 0.2) ;
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 2rem 2rem 2rem 2rem;
  padding: 30px 30px 30px 30px ;
  border-style: none;
  display: flex;
  flex-direction: column;
}

.text-container{
  padding: 10px;
  height: 5rem;
  margin: 20px;
  display: block;
  position: relative;
   box-shadow: rgb(200, 200, 200) 0px 1px 1px;
         /*  rgb(0, 0, 0) 0px 1px 2px;*/
  text-align: left;
  border-left: 4px solid royalblue;
}

 table,td,th{
	border: 1px solid black;
}

/*
=======================================
map
=======================================
*/
.page-map-flex-container{
    display: flex;
    flex-direction: r;
    width:100%
}

.page-map-flex-container > div{
    margin: 10px;
  padding: 10px;
    width: 50%;
}

#map-container {
    position: relative;
    float: left;
    height: 0;
    width: 100%;
    padding-bottom: 60%;
    background: #dddddd;
}

#goals {
    float: left;
    width: 40%;
}

#state-summary {
    float: right;
    width: 40%;
}

.hoverpopup {
    background: #eeeeee;
    border: 1px black solid;
    padding: 5px;
}


/*
=======================================
table
=======================================
*/

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:400px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
  background-color: #dddddd;

}
#table-wrapper table * {
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}


/* 
=======================================
typography
=======================================
 */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 300; }

p {
  margin: 1px;
}

header{
    margin: -40px;
    padding: 0px;
}

body {
  background-color: rgb(242, 242, 242);
    margin: 20px;
    padding: 20px;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50);
}

.important {
  color: red;
  font-size: 110%;
}

/*
=======================================
flex box
=======================================
*/

.dropdown-container {
  display: flex;
  flex-direction: r;
}
.dropdown-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 5px;
  font-size: 20px;
  width: 33%;
}

.my-spacer {
    flex: 1 1 auto;
}

/*
=======================================
button
=======================================
*/

.button{
    background-color: darkgray;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
}

/*
=======================================
button
=======================================
*/

.pieChartContent{
    display:flex;
    flex-direction: r;
    width: 100%;
}

.pieChartContent > div{
    margin: 0px;
  padding: 10px;
    width: 50%;
}
